<div class="form col-sm-4">
  <%= form_for @target do |f| %>
    <div class="input-group">
      <span class="input-group-addon"><%= f.label :name %></span>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="input-group">
      <span class="input-group-addon"><%= f.label :price %></span>
      <%= f.number_field :price, class: 'form-control' %>
    </div>
    <div class="input-group">
      <span class="input-group-addon"><%= f.label :country %></span>
      <%= f.text_field :country, class: 'form-control' %>
    </div>

    <%= f.submit class: 'btn btn-primary'%>
  <% end %>
</div>
