<h1>Gummy Bear Kingdom</h1>

<% if @products %>
  <h2>All Products</h2>

  <div>
    <% @products.order(:price).each do |product| %>
      <p><%= link_to product.name, product_path(product) %></p>
      <%= link_to image_tag(product.image.url(:thumb), class: 'img-circle'), product_path(product) %>
    <% end  %>
  </div>

<% elsif @product %>
<div>
  <h2><%= @product.name %></h2>
    <p><%= @product.price %></p>
    <p><%= @product.country %></p>
    <%= image_tag @product.image.url(:medium) %>

</div>
<p><%= link_to "Edit", edit_product_path(@product) %> | <%= link_to "Delete", product_path(@product),
                    :data => {:confirm => 'For shursies?',
                              :method => 'delete'} %></p>
<% elsif @new_product %>
<h2>Add a Product</h2>
<div class="row">
  <%= render 'form' %>
</div>

<% elsif @edit_product %>
  <h2>Edit <%= @edit_product.name %></h2>
  <div class="row">
    <%= render 'form' %>
  </div>
<% end %>

<div class="links">
  <% unless @products %>
  <%= link_to "Back to all products", products_path %>
  <% end %>
  <%= link_to "Add a product", new_product_path %>
</div>
