<h1>Gummy Bear Kingdom</h1>

<% if @products %>
  <h2>All Products</h2>
<div class="row">
    <% @products.order(:price).each do |product| %>
    <div class="col-sm-2 well product">
      <p><%= link_to product.name, product_path(product) %></p>
      <%= link_to image_tag(product.image.url(:thumb), class: 'img-circle'), product_path(product) %>
    </div>
    <% end  %>
</div>

<% elsif @product %>
<div>
  <h2><%= @product.name %></h2>
    <p><%= @product.price %></p>
    <p><%= @product.country %></p>
    <%= image_tag @product.image.url(:medium) %>
</div>
<div class="row links">
<% if user_signed_in? %>
  <h3>| <%= link_to "Edit", edit_product_path(@product) %> | <%= link_to "Delete", product_path(@product),
                      :data => {:confirm => 'For shursies?',
                                :method => 'delete'} %> |</h3>
<% else %>
  <h3><em>Sign in to edit or delete products</em></h3>
  <% end %>
</div>
<% elsif @new_product %>
<h2>Add a Product</h2>
<div class="row">
  <%= render 'form' %>
</div>

<% elsif @edit_product %>
  <h2>Edit <%= @edit_product.name %></h2>
  <div class="row">
    <%= render 'form' %>
  </div>
<% end %>

<div class="links row">
  <h3>
    <% if user_signed_in? %>
      | <%= link_to "Add a product", new_product_path %>
    <% else %>
      <em>Sign in to add products</em>
    <% end %>
    <% unless @products %>
      | <%= link_to "Back to all products", products_path %> |
    <% end %>
  </h3>

</div>
